/*  */



* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../images/bg5.webp);
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    background-color: black;
}

.container {
    width: 90%;
    min-height: 100vh;
    padding-left: 8%;
    padding: left 8%;
    box-sizing: hidden;
    flex-wrap: wrap;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}
.navbar nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.navbar nav ul li a{
font-size: 23px;
border-radius: 15px;
font-weight:bold;

}



.logo {
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #d8d8d8;
    font-size: 14px;
}

nav ul li a:hover {
    color: #0088ff;
}


.navbar .logo{
    transition: transform 1s ease-in;
  }
  
  .navbar .logo:hover{
    transform: rotate(900deg);
    opacity: 90%;
 

  }

.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #1c1111; */
    min-width: 16px;
    box-shadow: 1px 1px 1px 1px rgba(2, 217, 255, 0.746);
    padding: -12px -18px;
    z-index: 1;
    list-style-type: none;
    font-size: 19px;

  }
  .dropdown img{
    transition: transform .7s ease-in-out;
  }
  
  .dropdown img:hover{
    transform: rotate(360deg);

  }

  .dropdown:hover .dropdown-content {
    display: block;
    left: auto;
    right: 0%;
    transition:0.1s;

  }


.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.main {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}




.main h3 {
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px
}

.main h4 {
    margin: 30px 0;
    font-size: 14px;
}
.main button img{
    background: transparent;
    position: absolute; left: 30px; 
    width: 30px
}

.row img{
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease;

    transition-property: all;
    transition-duration: 10s;
    transition-timing-function: ease;
}
.row img:hover{
    transform: scale(1.1);

}

.moreinfo {
    font-size: 20px;
    color: #dfd7d7;
    font-weight: 100;
}
.moreinfo:hover{
    color: #ff3527;
}

.subscribe {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.subscribe img {
    background-color: transparent;
   margin: 80px;
}

button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition: width 1s;
}

button img {
    width: 30px;
    display: none;
}

button:hover img {
    display: block;
}

button:hover {
    width: 150px;
    display: flex;
    align-items: center;
}

/*The line left of the main picture */
.main::after {
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(to right, #2e89ff, #2e62ff);
    position: absolute;
    left: -40px;
    top: 8px;
}

.product {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.product .game {
    width: 90%;
    border: #0088ff;
    border-radius: 10px;
}

.socialmedia img{
    height: 16px;
    width: 16px;
    margin: 20px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}
.socialmedia{
    display: flex;
    justify-content: center; 
}
.copyright {
    text-align: center;
    font-size: 12px;
}